
<footer>
<addres id='addres'>
<p id='footer'> 
    
   <img src="/img/comp.png" width="400" height="100"> 

<a href="https://www.facebook.com/profile.php?id=61558477883140"><img src="/img/face.png" width="70" height="70">  </a>

<a href="https://www.instagram.com/rayder_racer2042/?hl=es"><img src="/img/insta.png" width="70" height="70">  </a>

<a href="https://www.youtube.com/channel/UCDLvieJZwg7uxGx0OwQ0euw"><img src="/img/you.png" width="70" height="70">  </a>

<a href="https://t.me/+25WJPzhExlUyMmMx"><img src="/img/wat.png" width="70" height="70">  </a>

<a href="nfstakedown2012@gmail.com"><img src="/img/gmail.png" width="70" height="70">  </a>












</p>
</addres>
</footer>
